In [1]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 2E3D-90D7

 Directory of C:\Users\LENOVO\Desktop\pandas

07/01/2024  06:14 AM    <DIR>          .
06/29/2024  10:01 PM    <DIR>          ..
07/01/2024  06:14 AM    <DIR>          .ipynb_checkpoints
06/29/2024  09:50 AM                48 11Tes2t.csv
06/29/2024  09:47 AM                45 5T2es2t.csv
06/29/2024  09:47 AM                45 aaa5T2es2t.csv
06/28/2024  10:36 PM            13,658 Dataframe_in_pandas.ipynb
06/28/2024  10:44 PM            12,820 insert_and_deletepandas.ipynb
07/01/2024  06:14 AM                72 pandas_function.ipynb
06/28/2024  01:55 PM             4,191 PANDAS1.ipynb
06/29/2024  09:52 AM             3,813 pandaswithcsv.ipynb
06/19/2024  07:30 AM               988 president_heights.csv
06/29/2024  07:44 PM            96,559 read_with_csv.ipynb
06/28/2024  08:01 PM             6,509 series_in_pandas.ipynb
06/29/2024  09:46 AM                45 T2es2t.csv
06/29/2024  09:50 AM                48 Tes2t.csv
06/29/2024  09:46 AM                45 Test.csv
06/29/2024  09:45 AM                36 Test.csv2
              15 File(s)        138,922 bytes
               3 Dir(s)  186,020,065,280 bytes free

In [3]:
import pandas as pd

In [4]:
ph=pd.read_csv('president_heights.csv')

In [5]:
ph

    order                    name  height(cm)
0       1       George Washington         189
1       2              John Adams         170
2       3        Thomas Jefferson         189
3       4           James Madison         163
4       5            James Monroe         183
5       6       John Quincy Adams         171
6       7          Andrew Jackson         185
7       8        Martin Van Buren         168
8       9  William Henry Harrison         173
9      10              John Tyler         183
10     11           James K. Polk         173
11     12          Zachary Taylor         173
12     13        Millard Fillmore         175
13     14         Franklin Pierce         178
14     15          James Buchanan         183
15     16         Abraham Lincoln         193
16     17          Andrew Johnson         178
17     18        Ulysses S. Grant         173
18     19     Rutherford B. Hayes         174
19     20       James A. Garfield         183
20     21       Chester A. Arthur         183
21     23       Benjamin Harrison         168
22     25        William McKinley         170
23     26      Theodore Roosevelt         178
24     27     William Howard Taft         182
25     28          Woodrow Wilson         180
26     29       Warren G. Harding         183
27     30         Calvin Coolidge         178
28     31          Herbert Hoover         182
29     32   Franklin D. Roosevelt         188
30     33         Harry S. Truman         175
31     34    Dwight D. Eisenhower         179
32     35         John F. Kennedy         183
33     36       Lyndon B. Johnson         193
34     37           Richard Nixon         182
35     38             Gerald Ford         183
36     39            Jimmy Carter         177
37     40           Ronald Reagan         185
38     41       George H. W. Bush         188
39     42            Bill Clinton         188
40     43          George W. Bush         182
41     44            Barack Obama         185

In [6]:
ph.index

RangeIndex(start=0, stop=42, step=1)

In [7]:
ph.columns

Index(['order', 'name', 'height(cm)'], dtype='object')

In [9]:
ph.describe()

           order  height(cm)
count  42.000000   42.000000
mean   22.476190  179.738095
std    13.152461    7.015869
min     1.000000  163.000000
25%    11.250000  174.250000
50%    22.000000  182.000000
75%    33.750000  183.000000
max    44.000000  193.000000

In [10]:
ph.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [11]:
ph.tail()

    order               name  height(cm)
37     40      Ronald Reagan         185
38     41  George H. W. Bush         188
39     42       Bill Clinton         188
40     43     George W. Bush         182
41     44       Barack Obama         185

In [12]:
ph[:2]

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170

In [13]:
type(ph)

pandas.core.frame.DataFrame

In [14]:
ph.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41]
Length: 42, dtype: int64

In [15]:
ph.to_numpy()

array([[1, 'George Washington', 189],
       [2, 'John Adams', 170],
       [3, 'Thomas Jefferson', 189],
       [4, 'James Madison', 163],
       [5, 'James Monroe', 183],
       [6, 'John Quincy Adams', 171],
       [7, 'Andrew Jackson', 185],
       [8, 'Martin Van Buren', 168],
       [9, 'William Henry Harrison', 173],
       [10, 'John Tyler', 183],
       [11, 'James K. Polk', 173],
       [12, 'Zachary Taylor', 173],
       [13, 'Millard Fillmore', 175],
       [14, 'Franklin Pierce', 178],
       [15, 'James Buchanan', 183],
       [16, 'Abraham Lincoln', 193],
       [17, 'Andrew Johnson', 178],
       [18, 'Ulysses S. Grant', 173],
       [19, 'Rutherford B. Hayes', 174],
       [20, 'James A. Garfield', 183],
       [21, 'Chester A. Arthur', 183],
       [23, 'Benjamin Harrison', 168],
       [25, 'William McKinley', 170],
       [26, 'Theodore Roosevelt', 178],
       [27, 'William Howard Taft', 182],
       [28, 'Woodrow Wilson', 180],
       [29, 'Warren G. Harding', 183],
       [30, 'Calvin Coolidge', 178],
       [31, 'Herbert Hoover', 182],
       [32, 'Franklin D. Roosevelt', 188],
       [33, 'Harry S. Truman', 175],
       [34, 'Dwight D. Eisenhower', 179],
       [35, 'John F. Kennedy', 183],
       [36, 'Lyndon B. Johnson', 193],
       [37, 'Richard Nixon', 182],
       [38, 'Gerald Ford', 183],
       [39, 'Jimmy Carter', 177],
       [40, 'Ronald Reagan', 185],
       [41, 'George H. W. Bush', 188],
       [42, 'Bill Clinton', 188],
       [43, 'George W. Bush', 182],
       [44, 'Barack Obama', 185]], dtype=object)

In [16]:
import numpy as np

In [18]:
np.asarray(ph)

array([[1, 'George Washington', 189],
       [2, 'John Adams', 170],
       [3, 'Thomas Jefferson', 189],
       [4, 'James Madison', 163],
       [5, 'James Monroe', 183],
       [6, 'John Quincy Adams', 171],
       [7, 'Andrew Jackson', 185],
       [8, 'Martin Van Buren', 168],
       [9, 'William Henry Harrison', 173],
       [10, 'John Tyler', 183],
       [11, 'James K. Polk', 173],
       [12, 'Zachary Taylor', 173],
       [13, 'Millard Fillmore', 175],
       [14, 'Franklin Pierce', 178],
       [15, 'James Buchanan', 183],
       [16, 'Abraham Lincoln', 193],
       [17, 'Andrew Johnson', 178],
       [18, 'Ulysses S. Grant', 173],
       [19, 'Rutherford B. Hayes', 174],
       [20, 'James A. Garfield', 183],
       [21, 'Chester A. Arthur', 183],
       [23, 'Benjamin Harrison', 168],
       [25, 'William McKinley', 170],
       [26, 'Theodore Roosevelt', 178],
       [27, 'William Howard Taft', 182],
       [28, 'Woodrow Wilson', 180],
       [29, 'Warren G. Harding', 183],
       [30, 'Calvin Coolidge', 178],
       [31, 'Herbert Hoover', 182],
       [32, 'Franklin D. Roosevelt', 188],
       [33, 'Harry S. Truman', 175],
       [34, 'Dwight D. Eisenhower', 179],
       [35, 'John F. Kennedy', 183],
       [36, 'Lyndon B. Johnson', 193],
       [37, 'Richard Nixon', 182],
       [38, 'Gerald Ford', 183],
       [39, 'Jimmy Carter', 177],
       [40, 'Ronald Reagan', 185],
       [41, 'George H. W. Bush', 188],
       [42, 'Bill Clinton', 188],
       [43, 'George W. Bush', 182],
       [44, 'Barack Obama', 185]], dtype=object)

In [22]:
ph.sort_index(axis=0,ascending=False)

    order                    name  height(cm)
41     44            Barack Obama         185
40     43          George W. Bush         182
39     42            Bill Clinton         188
38     41       George H. W. Bush         188
37     40           Ronald Reagan         185
36     39            Jimmy Carter         177
35     38             Gerald Ford         183
34     37           Richard Nixon         182
33     36       Lyndon B. Johnson         193
32     35         John F. Kennedy         183
31     34    Dwight D. Eisenhower         179
30     33         Harry S. Truman         175
29     32   Franklin D. Roosevelt         188
28     31          Herbert Hoover         182
27     30         Calvin Coolidge         178
26     29       Warren G. Harding         183
25     28          Woodrow Wilson         180
24     27     William Howard Taft         182
23     26      Theodore Roosevelt         178
22     25        William McKinley         170
21     23       Benjamin Harrison         168
20     21       Chester A. Arthur         183
19     20       James A. Garfield         183
18     19     Rutherford B. Hayes         174
17     18        Ulysses S. Grant         173
16     17          Andrew Johnson         178
15     16         Abraham Lincoln         193
14     15          James Buchanan         183
13     14         Franklin Pierce         178
12     13        Millard Fillmore         175
11     12          Zachary Taylor         173
10     11           James K. Polk         173
9      10              John Tyler         183
8       9  William Henry Harrison         173
7       8        Martin Van Buren         168
6       7          Andrew Jackson         185
5       6       John Quincy Adams         171
4       5            James Monroe         183
3       4           James Madison         163
2       3        Thomas Jefferson         189
1       2              John Adams         170
0       1       George Washington         189

In [25]:
ph['name'][0]='George Washington'

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13172\3956654275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ph['name'][0]='George Washington'

In [26]:
ph

    order                    name  height(cm)
0       1       George Washington         189
1       2              John Adams         170
2       3        Thomas Jefferson         189
3       4           James Madison         163
4       5            James Monroe         183
5       6       John Quincy Adams         171
6       7          Andrew Jackson         185
7       8        Martin Van Buren         168
8       9  William Henry Harrison         173
9      10              John Tyler         183
10     11           James K. Polk         173
11     12          Zachary Taylor         173
12     13        Millard Fillmore         175
13     14         Franklin Pierce         178
14     15          James Buchanan         183
15     16         Abraham Lincoln         193
16     17          Andrew Johnson         178
17     18        Ulysses S. Grant         173
18     19     Rutherford B. Hayes         174
19     20       James A. Garfield         183
20     21       Chester A. Arthur         183
21     23       Benjamin Harrison         168
22     25        William McKinley         170
23     26      Theodore Roosevelt         178
24     27     William Howard Taft         182
25     28          Woodrow Wilson         180
26     29       Warren G. Harding         183
27     30         Calvin Coolidge         178
28     31          Herbert Hoover         182
29     32   Franklin D. Roosevelt         188
30     33         Harry S. Truman         175
31     34    Dwight D. Eisenhower         179
32     35         John F. Kennedy         183
33     36       Lyndon B. Johnson         193
34     37           Richard Nixon         182
35     38             Gerald Ford         183
36     39            Jimmy Carter         177
37     40           Ronald Reagan         185
38     41       George H. W. Bush         188
39     42            Bill Clinton         188
40     43          George W. Bush         182
41     44            Barack Obama         185

In [27]:
ph.loc[0,'name']='Nick'

In [28]:
ph

    order                    name  height(cm)
0       1                    Nick         189
1       2              John Adams         170
2       3        Thomas Jefferson         189
3       4           James Madison         163
4       5            James Monroe         183
5       6       John Quincy Adams         171
6       7          Andrew Jackson         185
7       8        Martin Van Buren         168
8       9  William Henry Harrison         173
9      10              John Tyler         183
10     11           James K. Polk         173
11     12          Zachary Taylor         173
12     13        Millard Fillmore         175
13     14         Franklin Pierce         178
14     15          James Buchanan         183
15     16         Abraham Lincoln         193
16     17          Andrew Johnson         178
17     18        Ulysses S. Grant         173
18     19     Rutherford B. Hayes         174
19     20       James A. Garfield         183
20     21       Chester A. Arthur         183
21     23       Benjamin Harrison         168
22     25        William McKinley         170
23     26      Theodore Roosevelt         178
24     27     William Howard Taft         182
25     28          Woodrow Wilson         180
26     29       Warren G. Harding         183
27     30         Calvin Coolidge         178
28     31          Herbert Hoover         182
29     32   Franklin D. Roosevelt         188
30     33         Harry S. Truman         175
31     34    Dwight D. Eisenhower         179
32     35         John F. Kennedy         183
33     36       Lyndon B. Johnson         193
34     37           Richard Nixon         182
35     38             Gerald Ford         183
36     39            Jimmy Carter         177
37     40           Ronald Reagan         185
38     41       George H. W. Bush         188
39     42            Bill Clinton         188
40     43          George W. Bush         182
41     44            Barack Obama         185

In [29]:
ph.loc[[2,3],['name','height(cm)']]

               name  height(cm)
2  Thomas Jefferson         189
3     James Madison         163

In [31]:
ph.loc[:,['name','height(cm)']]

                      name  height(cm)
0                     Nick         189
1               John Adams         170
2         Thomas Jefferson         189
3            James Madison         163
4             James Monroe         183
5        John Quincy Adams         171
6           Andrew Jackson         185
7         Martin Van Buren         168
8   William Henry Harrison         173
9               John Tyler         183
10           James K. Polk         173
11          Zachary Taylor         173
12        Millard Fillmore         175
13         Franklin Pierce         178
14          James Buchanan         183
15         Abraham Lincoln         193
16          Andrew Johnson         178
17        Ulysses S. Grant         173
18     Rutherford B. Hayes         174
19       James A. Garfield         183
20       Chester A. Arthur         183
21       Benjamin Harrison         168
22        William McKinley         170
23      Theodore Roosevelt         178
24     William Howard Taft         182
25          Woodrow Wilson         180
26       Warren G. Harding         183
27         Calvin Coolidge         178
28          Herbert Hoover         182
29   Franklin D. Roosevelt         188
30         Harry S. Truman         175
31    Dwight D. Eisenhower         179
32         John F. Kennedy         183
33       Lyndon B. Johnson         193
34           Richard Nixon         182
35             Gerald Ford         183
36            Jimmy Carter         177
37           Ronald Reagan         185
38       George H. W. Bush         188
39            Bill Clinton         188
40          George W. Bush         182
41            Barack Obama         185

In [32]:
ph.loc[0:5,['name','height(cm)']]

                name  height(cm)
0               Nick         189
1         John Adams         170
2   Thomas Jefferson         189
3      James Madison         163
4       James Monroe         183
5  John Quincy Adams         171

In [33]:
ph.loc[[2,3],:]

   order              name  height(cm)
2      3  Thomas Jefferson         189
3      4     James Madison         163

In [34]:
ph.iloc[0,1]

'Nick'

In [35]:
ph.drop('order',axis=1)

                      name  height(cm)
0                     Nick         189
1               John Adams         170
2         Thomas Jefferson         189
3            James Madison         163
4             James Monroe         183
5        John Quincy Adams         171
6           Andrew Jackson         185
7         Martin Van Buren         168
8   William Henry Harrison         173
9               John Tyler         183
10           James K. Polk         173
11          Zachary Taylor         173
12        Millard Fillmore         175
13         Franklin Pierce         178
14          James Buchanan         183
15         Abraham Lincoln         193
16          Andrew Johnson         178
17        Ulysses S. Grant         173
18     Rutherford B. Hayes         174
19       James A. Garfield         183
20       Chester A. Arthur         183
21       Benjamin Harrison         168
22        William McKinley         170
23      Theodore Roosevelt         178
24     William Howard Taft         182
25          Woodrow Wilson         180
26       Warren G. Harding         183
27         Calvin Coolidge         178
28          Herbert Hoover         182
29   Franklin D. Roosevelt         188
30         Harry S. Truman         175
31    Dwight D. Eisenhower         179
32         John F. Kennedy         183
33       Lyndon B. Johnson         193
34           Richard Nixon         182
35             Gerald Ford         183
36            Jimmy Carter         177
37           Ronald Reagan         185
38       George H. W. Bush         188
39            Bill Clinton         188
40          George W. Bush         182
41            Barack Obama         185

In [36]:
ph.drop(0,axis=0)

    order                    name  height(cm)
1       2              John Adams         170
2       3        Thomas Jefferson         189
3       4           James Madison         163
4       5            James Monroe         183
5       6       John Quincy Adams         171
6       7          Andrew Jackson         185
7       8        Martin Van Buren         168
8       9  William Henry Harrison         173
9      10              John Tyler         183
10     11           James K. Polk         173
11     12          Zachary Taylor         173
12     13        Millard Fillmore         175
13     14         Franklin Pierce         178
14     15          James Buchanan         183
15     16         Abraham Lincoln         193
16     17          Andrew Johnson         178
17     18        Ulysses S. Grant         173
18     19     Rutherford B. Hayes         174
19     20       James A. Garfield         183
20     21       Chester A. Arthur         183
21     23       Benjamin Harrison         168
22     25        William McKinley         170
23     26      Theodore Roosevelt         178
24     27     William Howard Taft         182
25     28          Woodrow Wilson         180
26     29       Warren G. Harding         183
27     30         Calvin Coolidge         178
28     31          Herbert Hoover         182
29     32   Franklin D. Roosevelt         188
30     33         Harry S. Truman         175
31     34    Dwight D. Eisenhower         179
32     35         John F. Kennedy         183
33     36       Lyndon B. Johnson         193
34     37           Richard Nixon         182
35     38             Gerald Ford         183
36     39            Jimmy Carter         177
37     40           Ronald Reagan         185
38     41       George H. W. Bush         188
39     42            Bill Clinton         188
40     43          George W. Bush         182
41     44            Barack Obama         185